.disabledColor {
    color: #CCCCCC;
}

.primaryBackground {
    background-color: #D2845E;
}

.primaryColor {
    color: #644560;
}

.secondaryColor {
    color: #000000;
}

.secondaryBackground {
    background-color: #644560;
}

.sideNavColor {
    color: #935C41;
}

.specializedColor {
    color: yellow;
}


a:link, a:visited {
    color: #644560;
}

a:hover {
    text-decoration: underline;
}

a:link:active, a:visited:active {
    color: #644560;
}
