<!-- each section should allow a title -->
<h3 ng-show="title != null">
    <span class="specializedFont primaryColor" ng-show="title != null">{{title}}</span>
</h3>
<div id="carouselGallery" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li ng-repeat="x in names" data-target="#carouselGallery" data-slide-to="{{x.slide}}" class="{{x.active}}"></li>
  </ol>
  <!-- Wrapper for slides -->
    <div class='carousel-inner' role="listbox">
        <div  ng-repeat="x in names" class='item {{x.active}}' >
          <a href="{{images}}{{x.src}}" target="blank">
            <img src='{{images}}{{x.src}}' style="align-content:center" width="{{x.width}}" height="{{x.height}}" alt='{{x.alt}}' />
            <div class="carousel-caption">
                <h3>{{x.title}}</h3>
                <p>{{x.cap}}</p>
              </div>
              </a>
        </div>
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" data-target="#carouselGallery" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" data-target="#carouselGallery" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- each section should allow a footnote -->
<span ng-show="footnote != null" class="specializedFont secondaryColor italicsFont">{{footnote}}</span>
