.disabledColor {
    color: #CCCCCC;
}

.primaryBackground {
    background-color: #335065;
}

.primaryColor {
    color: #33CCFF;
}

.secondaryColor {
    color: #FFFFFF;
}

.secondaryBackground {
    background-color: #33CCFF;
}

.sideNavColor {
    color: #000088;
}

.specializedColor {
    color: yellow;
}


a:link, a:visited {
    color: #33CCFF;
}

a:hover {
    text-decoration: underline;
}

a:link:active, a:visited:active {
    color: #33CCFF;
}
